
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
	height: 100%;
}

html {
	font-size: calc(var(--font-size) - 1px);
	line-height: calc(var(--line-height) - 1px);
}

body {
	margin: 0px;
	color: var(--text-color);
	background-color: #000;
}

body > div {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 500;
		width: 100vmin;
		height: 100vmin;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
}